<!-- <div class="card mt-2">
    <h5 class="card-header">
        Transfer to Account
    </h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <form #transferAccountForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
            <select class="form-select mt-3 mb-3" [(ngModel)]="transferForm.accountIdFrom" name="accountIdFrom">
                <option name="accountFrom" [value]="accountFrom.id">
                    {{accountFrom.accountType}}: {{accountFrom.accountNumber}} (Balance: {{accountFrom.accountBalance |
                    currency}})
                </option>
            </select>
            <select class="form-select mt-3 mb-3" [(ngModel)]="transferForm.accountIdTo" name="accountIdTo" required>
                @for (account of accounts; track account) {
                <option *ngIf="account.id!=transferForm.accountIdFrom" name="accountTo" [value]="account.id">
                    {{account.accountType}}: {{account.accountNumber}} (Balance: {{account.accountBalance | currency}})
                </option>
                }
            </select>
            <div class="form-floating mb-3">
                <input type="number" min=1 class="form-control" id="inputAmount" step='0.01' (keyup)="onKeydown($event)"
                    [(ngModel)]="transferForm.amountToTransfer" name="Amount" required placeholder="0.00">
                <label for="floatingInput">Amount</label>
            </div>
            @if (accountFrom.accountBalance < transferForm.amountToTransfer) { <div class="text-danger icon-text">
                <mat-icon>warning</mat-icon> Insufficient balance, amount must be less than or equal to
                {{accountFrom.accountBalance | currency}}
    </div>
    }
    <div class="mb-3" id="inputAmountTest"><b>
            {{amountToCurrency}}
        </b></div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionButton"
        [disabled]="transferAccountForm.invalid || accountFrom.accountBalance < transferForm.amountToTransfer">Submit</button>
    </form>
</div>
</div> -->
<!-- <div class="modal fade" id="addTransactionButton" tabindex="-1" aria-labelledby="addTransactionButtonLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTransactionButtonLabel">Transfer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you would like to transfer {{transferForm.amountToTransfer | currency}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div> -->
<h4>Transfer</h4>
<form #transferAccountForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Account From</mat-label>
            <mat-select [(ngModel)]="accountFrom" name="accountFrom" required>
                @for (account of accounts; track account) {
                <mat-option [disabled]="account.accountBalance == 0" [value]="account">{{account.accountType}}: {{account.accountNumber}} (Balance:
                    {{account.accountBalance | currency}})</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Account To</mat-label>
            <mat-select [(ngModel)]="accountTo" name="accountTo" [disabled]="accountFrom == null" required>
                @for (account of accounts; track account) {
                <mat-option [disabled]="accountFrom == account" [value]="account">{{account.accountType}}:
                    {{account.accountNumber}} (Balance:
                    {{account.accountBalance | currency}})</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Amount to Transfer</mat-label>
            <input matInput type="number" [(ngModel)]="transferForm.amountToTransfer" name="amountToTransfer"
                placeholder="0" required />
            <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
    </p>
    @if(accountsAreSame()) {
    <p class="warning-desc"><mat-icon>error</mat-icon>Cannot transfer to same account.</p>
    }
    @if(accountBalanceInsufficient()) {
    <p class="warning-desc"><mat-icon>error</mat-icon>Insufficient balance from incoming account. Amount to transfer
        must be less than or equal to {{accountFrom.accountBalance | currency}}</p>
    }
    @if(transferForm.amountToTransfer <= 0) { <p class="warning-desc"><mat-icon>error</mat-icon>Amount must be greater
        than $0.00</p>
        }
        <button mat-button class="me-2"
            [disabled]="transferAccountForm.invalid ||  accountsAreSame() || transferForm.amountToTransfer <= 0 || accountBalanceInsufficient()">Submit</button>
            <a mat-button href="/dashboard">Return</a>
</form>