<div *ngIf="user">
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Role</th>
        </thead>
        <tbody>
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.address}}</td>
                <td>{{user.dob}}</td>
                <td>{{user.role}}</td>
            </tr>
        </tbody>
    </table>
</div>