<div>
  <div class="mt-2">
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome {{fullName}}!</h5>
        <p class="card-text">We're delighted to have you here—your financial goals are our mission, and we're committed
          to providing you with seamless banking experiences and personalized support every step of the way.</p>
        @if (this.user == undefined) {
        <p class="card-text">To get the most out of this feature, create your profile first! It will personalize your
          experience.</p>
        <a href="/register" class="btn btn-primary">Setup Profile</a>
        }
      </div>
    </div>
  </div>
</div>
<div class="row">
  @for (account of accounts; track account) {
  <div class="col-sm-6 mb-3 mb-sm-0 gy-2">
    <div class="card">
      <h5 class="card-header">{{account.accountType}}
        <button id="options-menu" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="/account/{{account.id}}">
            <mat-icon>list</mat-icon>
            <span>Transactions</span>
          </a>
          <a mat-menu-item href="/account/{{account.id}}/addTransaction">
            <mat-icon>swap_vert</mat-icon>
            <span>Deposit/Withdraw</span>
          </a>
          <a mat-menu-item href="/account/{{account.id}}/transfer">
            <mat-icon>swap_horiz</mat-icon>
            <span>Transfer</span>
          </a>
        </mat-menu>
      </h5>
      <div class="card-body">
        <h5 class="card-title">Balance: {{account.accountBalance | currency}}</h5>
        <p class="card-text">Account Number: {{account.accountNumber}}</p>
        <!-- <button mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="/account/{{account.id}}">
            <mat-icon>list</mat-icon>
            <span>Transactions</span>
          </a>
          <a mat-menu-item href="/account/{{account.id}}/addTransaction">
            <mat-icon>swap_vert</mat-icon>
            <span>Deposit/Withdraw</span>
          </a>
          <a mat-menu-item href="/account/{{account.id}}/transfer">
            <mat-icon>swap_horiz</mat-icon>
            <span>Transfer</span>
          </a>
        </mat-menu> -->
      </div>
    </div>
  </div>
  }
</div>