<!-- <div class="card mt-2">
    <h5 class="card-header">
        <h6 class="mt-3">{{account.accountType}} Account ({{account.accountNumber}})</h6>
    </h5>
    <div class="card-body">
        <h5 class="card-title">Balance: ({{account.accountBalance | currency}})</h5>
        <form #transactionForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
            <label for="flexRadioDefault1" class="form-label">Select Transaction type</label>
            <div class="form-check mb-3">
                <input value="Deposit" class="form-check-input" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault1" [(ngModel)]="transaction.transactionType" required>
                <label class="form-check-label" for="flexRadioDefault1">
                    Deposit
                </label>
            </div>
            <div class="form-check mb-3">
                <input value="Withdraw" class="form-check-input" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault2" [(ngModel)]="transaction.transactionType" required>
                <label class="form-check-label" for="flexRadioDefault2">
                    Withdraw
                </label>
            </div>
            <div class="mb-3" id="inputAmountTest">
                {{amountToCurrency}}
            </div>
            <div class="form-floating mb-3">
                <input type="number" min=1 class="form-control" id="inputAmount" step='0.01' (keyup)="onKeydown($event)"
                    [(ngModel)]="transaction.amount" name="Amount" required placeholder="0.00">
                <label for="floatingInput">Amount</label>
                <div class="text-danger mt-2"
                    *ngIf="(account.accountBalance < transaction.amount) && transaction.transactionType === 'Withdraw'">
                    Insufficient funds to withdraw.</div>
            </div>
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#addTransactionButton"
                [disabled]="transactionForm.invalid || (account.accountBalance < transaction.amount) && transaction.transactionType === 'Withdraw'">Submit</button>
            <a class="btn btn-secondary" href="#" role="button">Return Home</a>
        </form>
    </div>
</div> -->

<!-- <div class="modal fade" id="addTransactionButton" tabindex="-1" aria-labelledby="addTransactionButtonLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTransactionButtonLabel">Add Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you would like to make this transaction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-8 my-1">
      <div class="mt-3">
        <mat-card class="my-1">
            <mat-card-header>
              <h6>Select a Transaction</h6>
            </mat-card-header>
            <mat-divider class="my-2"></mat-divider>
            <form #transactionForm="ngForm" ngNativeValidate>
              <mat-card-content>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="transaction.transactionType" required name="transactionType" (change)="onRadioButtonChange($event)">
                    <mat-radio-button value="Deposit">Deposit</mat-radio-button>
                  <br>
                    <mat-radio-button value="Withdraw">Withdraw</mat-radio-button>
                </mat-radio-group>
                <br>
                <mat-form-field floatLabel="always">
                  <mat-label>Amount</mat-label>
                  <input matInput type="number" (keyup)="onKeydown($event)" placeholder="0" />
                  <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>
                <div class="mb-3" id="inputAmountTest">
                  {{amountToCurrency}}
              </div>
              </mat-card-content>
              <mat-card-footer>
                <button mat-button class="ms-2" [disabled]="account.accountType == null" (click)="openDialog()">Submit</button>
                <a mat-button href="/dashboard">Return Home</a>
              </mat-card-footer>
            </form>
          </mat-card>
          <ng-template #callAPIDialog>
            <h2 mat-dialog-title>New Transaction</h2>
            <mat-dialog-content>
              Are you sure you would like to make this transaction?
            </mat-dialog-content>
            <mat-dialog-actions>
              <button mat-button mat-dialog-close>No</button>
              <button mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit()">Yes</button>
            </mat-dialog-actions>
          </ng-template>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- <mat-card appearance="outlined" class="my-4">
        <mat-card-header>
          <mat-card-title>{{account.accountType}}</mat-card-title>
          <mat-card-subtitle>Account Number: {{account?.accountNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="font-size: 1.5rem;">{{account.accountBalance| currency}}</div>
          <div style="font-size: .9rem; color: #666666; font-weight: 100;">Available Balance</div>
        </mat-card-content>
        <mat-card-actions align="end">
          Account Number: {{account.accountNumber}}
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined" class="my-4">
        <mat-card-header>
          <mat-card-title>Add Transaction</mat-card-title>
          <mat-card-subtitle>Deposit or Withdraw</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <a mat-flat-button href="/account/{{account.id}}/addTransaction">New Transaction</a>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined" class="my-4">
        <mat-card-header>
          <mat-card-title>Transfer</mat-card-title>
          <mat-card-subtitle>Transfer Money Between Accounts</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <a mat-flat-button href="/account/{{account.id}}/transfer">Transfer</a>
        </mat-card-actions>
      </mat-card> -->
    </div>
  </div>