<h4 class="mt-3">{{account.accountType}} Account ({{account.accountNumber}})</h4>
<h4 class="mb-3">Total Balance: ({{account.accountBalance | currency}})</h4>
<form #transactionForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <label for="flexRadioDefault1" class="form-label">Select Transaction type</label>
    <div class="form-check mb-3">
        <input value="Deposit" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="transaction.transactionType" required>
        <label class="form-check-label" for="flexRadioDefault1">
            Deposit
        </label>
    </div>
    <div class="form-check mb-3">
        <input value="Withdraw" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="transaction.transactionType" required>
        <label class="form-check-label" for="flexRadioDefault2">
            Withdraw
        </label>
    </div>
    <!-- <div class="mb-3">
        <label for="inputAmount" class="form-label">Amount</label>
        <input type="number" min=1 class="form-control" id="inputAmount" (keyup)="onKeydown($event)" [(ngModel)]="transaction.amount" name="Amount" required>
    </div> -->
    <div class="mb-3" id="inputAmountTest">
    {{amountToCurrency}}
    </div>
    <div class="form-floating mb-3">
        <input type="number" min=1 class="form-control" id="inputAmount" step='0.01' (keyup)="onKeydown($event)" [(ngModel)]="transaction.amount" name="Amount" required placeholder="0.00">
        <label for="floatingInput">Amount</label>
        <div class="text-danger" *ngIf="(account.accountBalance < transaction.amount) && transaction.transactionType === 'Withdraw'">Insufficient funds to withdraw.</div>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="transactionForm.invalid || (account.accountBalance < transaction.amount) && transaction.transactionType === 'Withdraw'">Submit</button>
    
</form>