<form #transactionForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <label for="flexRadioDefault1" class="form-label">Select Transaction type</label>
    <div class="form-check mb-3">
        <input value="Deposit" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
            required [(ngModel)]="transaction.transactionType" required>
        <label class="form-check-label" for="flexRadioDefault1">
            Deposit
        </label>
    </div>
    <div class="form-check mb-3">
        <input value="Withdraw" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
            required [(ngModel)]="transaction.transactionType">
        <label class="form-check-label" for="flexRadioDefault2">
            Withdraw
        </label>
    </div>
    <div class="mb-3">
        <label for="inputAmount" class="form-label">Amount</label>
        <input type="number" min=1 class="form-control" id="inputAmount" [(ngModel)]="transaction.amount" name="Amount" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="transactionForm.invalid">Submit</button>
</form>