<h2 mat-dialog-title>Select an Account</h2>
<mat-dialog-content>
  <form #accForm="ngForm" ngNativeValidate>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="account.accountType" name="accountType" (change)="onRadioButtonChange($event)">
          <mat-radio-button value="Checking"><strong><i>Checking Account</i></strong>
            <p><strong>Introducing the Ultimate Checking Account</strong> -
              where convenience meets flexibility, tailored just for you! In today’s fast-paced world, managing your
              finances shouldn’t slow you down. That’s why we’ve crafted a checking account that not only meets your
              everyday banking needs but also rewards you for doing so.</p>
          </mat-radio-button>
        <br>
          <mat-radio-button value="Savings"><strong><i>Savings Account</i></strong>
            <p><strong>Introducing the Dream Saver Savings Account</strong> -
              where your financial aspirations become a reality. In a world where saving feels increasingly challenging,
              we believe in offering a savings solution that not only secures your future but also rewards your commitment
              to saving.</p>
          </mat-radio-button>
      </mat-radio-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close  (click)="onSubmit()">Submit</button>
</mat-dialog-actions>