<div>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>SSN</th>
            <th>Date of Birth</th>
            <th>Username</th>
            <th>Role</th>
        </thead>
        <tbody *ngFor="let tempUser of users">
            <tr>
                <td>{{ tempUser.id}}</td>
                <td>{{ tempUser.firstName}}</td>
                <td>{{ tempUser.lastName}}</td>
                <td>{{ tempUser.address}}</td>
                <td>{{ tempUser.ssn}}</td>
                <td>{{ tempUser.dob}}</td>
                <td>{{ tempUser.username}}</td>
                <td>{{ tempUser.role}}</td>
            </tr>
        </tbody>
    </table>
</div>