<div class="container p-3 p-md-5 m-3 text-black rounded bg-light border rounded-3">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Banking, Reimagined for You.</h1>
        <p class="lead">Welcome to a world where your financial well-being is our top priority; let's embark on a journey to achieve your dreams with innovative banking tailored just for you.</p>
        <hr class="my-4">
        <p>
          Discover the future of financial management with EB Banking, where innovative solutions meet personalized service to transform how you bank, save, and invest—experience banking that's as dynamic as you are.</p>
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
      </div>
      
    </div>
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1553531889-56cc480ac5cb?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1581573950452-5a438c5f390f?q=80&w=1729&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 rounded" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Checking</h5>
          <p class="card-text">
            Experience the freedom of effortless banking with our Premier Checking Account, offering zero monthly fees,
            high-interest earnings, and exclusive rewards that make every transaction a joy.</p>
          <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.unsplash.com/photo-1543269664-02e941c052f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Savings</h5>
          <p class="card-text">
            Elevate your savings journey with our Growth Plus Savings Account, where competitive interest rates meet
            personalized financial tools, empowering you to achieve your dreams faster and smarter.</p>
          <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.unsplash.com/photo-1628527304948-06157ee3c8a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Security</h5>
          <p class="card-text">
            Bank with confidence as our state-of-the-art security measures protect your finances with ironclad
            encryption, 24/7 monitoring, and instant alerts, ensuring peace of mind with every transaction.</p>
          <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trust</h5>
          <p class="card-text">
            Join a bank that invests in your community, where every account opened contributes to local initiatives,
            supporting education, sustainability, and growth, because together, we can make a difference.</p>
          <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>