<mat-card>
  <mat-card-header>
    <h5>Account Number: {{this.account?.accountNumber}}<br>Balance: {{this.account?.accountBalance | currency}}</h5>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table class="table">
        <thead>
          <th>Transaction ID</th>
          <th>Date</th>
          <th>Transaction Type</th>
          <th>Amount</th>
        </thead>
        <tbody>
          @for (transaction of transactions; track transaction.id) {
          <tr>
            <td>{{transaction.id}}</td>
            <td>{{transaction.date | date:'medium'}}</td>
            <td>{{transaction.transactionType}}</td>
            <td>{{transaction.amount | currency}}</td>
          </tr>
          }
        </tbody>
      </table>
      <mat-paginator [length]="this.totalElements" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
                (page)="handlePageEvent($event)" aria-label="Select page">
            </mat-paginator>
    </div>
    <div>
      <a href="/users/{{this.account?.userId}}"><button mat-raised-button color="primary mt-2"><svg
            xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
          </svg> Return to User</button></a>
    </div>
  </mat-card-content>
</mat-card>