<mat-card>
  <mat-card-header>
    <h5>{{this.user?.firstName}} {{this.user?.lastName}}</h5>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table class="table">
        <thead>
          <th>Account ID</th>
          <th>Account Number</th>
          <th>Account Type</th>
          <th>Balance</th>
        </thead>
        <tbody>
          @for (account of accounts; track account.id) {
          <tr>
            <td><a mat-stroked-button href="/accounts/{{account.id}}">{{account.id}}</a></td>
            <td>{{account.accountNumber}}</td>
            <td>{{account.accountType}}</td>
            <td>{{account.accountBalance | currency}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <a href="#"><button class="me-2" mat-raised-button color="primary mt-2" href="#"><mat-icon>arrow_back</mat-icon> Return Home</button></a>
      <a href="/addAccountToUser/{{this.user?.id}}"><button mat-raised-button color="primary mt-2"><mat-icon>add</mat-icon>Add Account</button></a>
    </div>
  </mat-card-content>
</mat-card>