<div class="card mt-2">
  <div class="card-header">
    <h5>
      {{this.user?.firstName}} {{this.user?.lastName}}
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-primary"><i class="bi bi-box-arrow-in-up-right"></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserButton"><i
            class="bi bi-x-square-fill"></i></button>
      </div>
    </h5>


  </div>

  <div class="card-body">
    <h5 class="card-title"></h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Account #</th>
            <th scope="col">Account Type</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          @for (account of accounts; track account) {
            <tr>
              <th scope="row"><a href="/accounts/{{account.id}}">{{account.id}}</a></th>
              <td>{{account.accountNumber}}</td>
              <td>{{account.accountType}}</td>
              <td>{{account.accountBalance | currency}}</td>
            </tr>
          }
        </tbody>
      </table>
  </div>
</div>
<a href="#"><button mat-raised-button color="primary mt-2" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg> Return Home</button></a>