.nav-link {
    color: rgb(0, 0, 0);
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-color-blue {
    background-color: #005EB8;
}

.nav-link {
    color: #fff;
}

.navbar-brand-dark {
    color: #000;
    display: flex;
    align-items: center;

}

.navbar-brand-light {
    color: #fff;
    display: flex;
    align-items: center;
}