.nav-link {
    color: rgb(0, 0, 0);
}

.text-underline-hover:hover {
    text-decoration: underline;
}

#navbar {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar-brand {
    color: rgb(0, 0, 0);
}

/* .navbar {
    background-color: #005EB8;
} */

.navbar-color {
    background-color: #ffffff;
}

.navbar-color2 {
    background-color: #005EB8;
}