.nav-link {
    color: rgb(0, 0, 0);
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-color-blue {
    background-color: #005EB8;
}