<div *ngIf="transactions">
    <table class="table table-bordered">
        <thead>
            <th>Date</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.date | date:'mediumDate'}}</td>
                <td>{{transaction.transactionType}}</td>
                <td>{{transaction.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>
