<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let user"><a href="/users/{{user.id}}">{{user.id}}</a></td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="accounts">
            <th mat-header-cell *matHeaderCellDef> Accounts </th>
            <td mat-cell *matCellDef="let user"> {{user.accountList.length}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="this.totalElements" [pageSize]="this.size" [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
</div>
<div>
    <a href="/addUser"><button mat-raised-button color="primary" href="#"> Add User</button></a>
</div>